/*BLOG*/

.blog-page #selling-wp {
    margin-top: 0 !important;
}

.blog-page #list-blog-wp .section-title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 20px;
}

#list-blog-wp .list-item li {
    margin-bottom: 20px;
    border-radius: 2px;
    transition: all 0.12s linear;
    position: relative;
}

#list-blog-wp .list-item li:hover {
    box-shadow: 0px 0px 10px 2px #cccccc79;
}

#list-blog-wp .list-item li:last-child {
    padding-bottom: 0;
}

#list-blog-wp .thumb {
    width: 30%;
    border: 1px solid #55555568;
}

#list-blog-wp .thumb img {
    border-radius: 2px;
}

#list-blog-wp .info {
    width: 70%;
    padding-left: 25px;
}

#list-blog-wp .info .title {
    display: block;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    color: #000000de;
    font-weight: 550;
    transition: all 0.1s ease-in-out;
    padding: 4px 0;
}

#list-blog-wp .info .title:hover {
    color: rgba(0, 0, 255, 0.898);
}

.post-cat-title {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    padding: 2px 4px;
    background-color: rgba(0, 0, 255, 0.764);
    margin-bottom: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    border-radius: 2px;
}

#list-blog-wp .info .create-date {
    position: relative;
    display: block;
    font-size: 13px;
    color: #989898;
    padding-left: 20px;
    padding-bottom: 5px;
}

#list-blog-wp .info .create-date:before {
    position: absolute;
    content: '\f017';
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
    font-size: 14px;
}

#list-blog-wp .info .desc {
    font-size: 14px;
    padding-right: 8px;
    line-height: 26px;
    color: #3f3f3fd3;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -o-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    font-style: italic;
}


/* #list-blog-wp .info #desc_list_post+p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

#list-paging {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#list-paging .active a, #list-paging li a:hover {
    color: #FFF;
    background: #007bff;
}

#list-paging a.no-hover-tag-a:hover {
    background-color: #FFF;
}

#list-paging li {
    float: left;
}

#list-paging li a {
    margin-right: 8px;
    display: inline-block;
    font-size: 13px;
    padding: 6px 12px;
    color: #000;
    background: #FFF;
    border: 1px solid #00000029;
}
