/*RESET BOOTSTRAP*/
.table{ margin-bottom: 0!important;}
.table thead{ border-top: 1px solid #ddd;}
.table>tfoot>tr>td{ border-top: none!important;}
.table tbody{ background: #fff;}

/*CART*/
.cart-page{ font-family: 'Roboto Regular';}
.cart-page #main-content .section:nth-child(2){ padding-top: 0!important;}
.cart-page #main-content{
    width: 100%!important;
    padding-right: 0!important;
}
#info-cart-wp table tr td{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#info-cart-wp table thead tr td{
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    padding: 18px 25px;
    color: #333;
    background: #f1f1f1;
    border: 0;
}
#info-cart-wp table tbody tr td{
    color: #222;
}

#info-cart-wp table tbody tr td.product_code {
    color: #008000b5;
    font-size: 13px;
}

#info-cart-wp table tbody tr td .name-product {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 250px;
}

#info-cart-wp table tbody tr td.price_new, #info-cart-wp table tbody tr td.total_price {
    font-size: 14px;
}

#info-cart-wp table tbody tr td .num-order{
    width: 50px;
    height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#info-cart-wp table tbody tr td .thumb{
    display: inline-block;
    width: 100px;
    min-height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
}
#checkout-cart{
    display: inline-block;
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 3px;
    font-family: 'Roboto Bold';
    font-weight: normal;
    border: none;
    outline: none;
    background: #3f5da6;
    color: #fff;
}
#update-cart{
    display: inline-block;
    padding: 12px 25px;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 3px;
    background: #ececec;
    margin-right: 5px;
    border: 1px solid #d6d6d6;
    font-family: 'Roboto Bold';
    font-weight: normal;
}
#update-cart:hover{ background: #dadada;}
#checkout-cart:hover{ background: #2b478c;}
#cart-wp table tfoot tr td #action-cart a:nth-child(2){ margin-right: 0;}
#total-price{
    font-size: 18px;
    text-transform: uppercase;
    padding: 25px 20px 20px 20px;
}
#total-price span{
    color: #ad0000;
    font-family: 'Roboto Medium';
}
#action-cart-wp{ margin-top: 30px;}
#action-cart-wp .title{ margin-bottom: 10px; line-height: 24px;}
#info-cart-wp .section-detail .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-cart-wp .section-detail .empty-cart .empty-cart-icon {
    width: 470px;   
}

#info-cart-wp .section-detail .empty-cart .empty-cart-title {
    font-weight: 550;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#info-cart-wp .section-detail .empty-cart .empty-cart-hint {
    color: rgba(94, 61, 61, 0.583);
}

#action-cart-wp .section-detail .title span{
    font-family: 'Roboto Medium';
    font-weight: normal;
}
#action-cart-wp a{
    display: inline-block;
    color: #006cbb;
    line-height: 21px;
    text-decoration: underline!important;
}

#action-cart-wp a#return-home {
    max-widtH: 240px;
    padding: 8px 20px;
    color: #FFF;
    background-color: rgba(49, 0, 128, 0.70);
    font-size: 17px;
    text-decoration: none!important;
    font-weight: 550;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    display: inherit;
    transition: all 0.2s ease-in-out;
}

#action-cart-wp a#return-home:hover {
    background-color:rgba(49, 0, 128, 0.89);
}

#action-cart-wp a#return-home i {
    margin-left: 4px;
}
#action-cart-wp #buy-more{ margin-bottom: 5px;}
#info-cart-wp table tfoot tr td{ padding: 0px;}
.table>tbody>tr>th, .table>tbody>tr>td{ border-bottom: 1px solid #ddd;}

.product-bought tbody tr td.image-product-order img{
    max-width: 100px;
}

#alert-order {
    position: relative;
    padding: 0.35rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #13772a;
    background-color: #01e93763;
    border-color: #c3e6cb;
    margin-bottom: 16px;
}
